@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    font-family:'Poppins';
    background: hsl(0, 0%, 98%);
}

main{
    padding: 7em 3.5em 7em 3.5em;
}

.text{
    line-height: 1rem;

    p:nth-child(1){
        font-size: 1.7rem;
        color: hsl(234, 12%, 34%);
        font-weight: 200;
    }

    p:nth-child(2){
        font-size: 1.85rem;
        color: hsl(234, 12%, 34%);
        font-weight: 600;
    }

    p:nth-child(3){
        color: hsl(229, 6%, 66%);
        line-height: 1.5rem;
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 5em;
    }
}

.card{
   
   
    margin-bottom: 2em;
    border-radius: 10px;
    padding: 1.5em 2em 1.5em 2em;
    background: white;
     box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1) inset;

    span{
        font-size: 1.5rem;
        font-weight: 600; 
    }

    p{
        font-size: 0.9375rem;
        font-weight: 200;
        color: hsl(229, 6%, 66%);   
    }

    .img{
        //padding-left: 14em;
        display: flex;
        justify-content: flex-end;
    }
}


.s{
    border-top: 5px solid hsl(180, 62%, 55%);
}

.t{
    border-top: 5px solid hsl(0, 78%, 62%);
}

.k{
    border-top: 5px solid hsl(34, 97%, 64%);
}

.c{
    border-top: 5px solid hsl(212, 86%, 64%);
}

@media (max-width:600px){

    .text{
        text-align: center;
    }
}


@media (min-width:600px){

    main{
        padding-left: 5em;
        padding-right: 5em;
    }

    .text{
        text-align: center;
    }
}

@media (min-width:900px){


    .cardContainers{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        .s{
            flex-grow: 1;
        }
        
        .t{
            flex-shrink: 1;
        }

        .k{
            flex-grow: 2;
        }

        .c{
            flex-shrink: 3;
        }
    }

}

@media (min-width: 1142px){
    
    main{
        padding: 5em 10em 0em 10em;
    }

    .text{
        text-align: center;
    
    }

    .cardContainers{
        display: grid;
        grid-template-columns: 1fr 3em 1fr 3em 1fr;
        grid-template-rows: 1fr 1em 1fr;

    }

    .card{

        p{
            max-width: 23em;
        }

        .img{
            margin-top: 3em;
        }
    }

    .s{
        
       grid-column: 1 / 2;
       grid-row: 2/3;
       align-self: center;
    }

    .t{
        grid-column: 3 / 4;
    }

    .k{
        grid-column: 3 / 4;
        grid-row: 3/3;
        align-self: center;
    }

    .c{
        grid-column: 5 / 5;
        grid-row: 2/3;
        align-self: center;
    }

}
